<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557976568066-kopg3c4amp5tlfeo0fi6t7uhm9tvb784.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557976568066-kopg3c4amp5tlfeo0fi6t7uhm9tvb784</string>
	<key>API_KEY</key>
	<string>AIzaSyDAZYZ_XJJ87nagGvaDMlg7p1Gm34AaWxk</string>
	<key>GCM_SENDER_ID</key>
	<string>557976568066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finafinalproject</string>
	<key>PROJECT_ID</key>
	<string>finalfinal-5bebd</string>
	<key>STORAGE_BUCKET</key>
	<string>finalfinal-5bebd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557976568066:ios:cfb8376d085992cca2021b</string>
</dict>
</plist>